<!-- lib/templates/erb/scaffold/_form.html.erb.tt -->

<%= form_with(model: compulsory_figure) do |form| %>
  <%= render "error_messages", resource: form.object %>

  <div class="mb-6">

    <%= form.label :description, class: "label" %>
    <%= form.text_field :description, class: "input" %>

  </div>

  <div class="mb-6 flex justify-between items-center">
    <%= form.button class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to 'Eliminar', form.object, class: "btn btn-danger", method: :delete, data: { remote: true, confirm: "Está seguro?" } %>
    <% end %>
  </div>
<% end %>
